[2016-09-22 14:51] alexzaitsev opened #1 "Generated classes are not filtered"

[2016-09-23 10:08] jasonwyatt opened #2 "Exception during "Copying original files...": "java.lang.StringIndexOutOfBoundsException: String index out of range""
Cool idea for a tool!

I just heard it and thought I'd give it a go with my app. I'm seeing a `StringIndexOutOfBoundsException` in the `Copying original files...` step.

[code]

Here's some more info about my environment:

[code]

[2016-09-23 10:13] cosic opened #3 "NullPointerException in the analysis step"
I try to use `java -jar apk_dependency_graph_0.0.2.jar -i path-to-folder-with-decompiled-files -o analyzed.js -f com.example.test` and I get:

[code]

If I use the `nofilter` flag I get:

[code]

[2016-09-23 10:20] alexzaitsev commented on #2
@jasonwyatt Hello and thank you for reporting an issue.
Could you help me a little bit more?
If yes - please clone the repository and add logging of current file name that is processing:
`private void processSmaliFile(File file) {`
So you'll able to see what file is problematic.
After that please place the next log:
`System.out.println("line: " + line);`
before this line:
`String generic = line.su

[2016-09-23 10:32] alexzaitsev commented on #3
Seems that `apktools` has some issues and cannot decompile every apk. I have one hint: not to use apks with Instant Run. It cannot be decompiled in usual way.
If you don't use Instant Run could you find out the problematic file changing the sources and running the program?
You just should add log to this method `private void processSmaliFile(File file)` to see what file is processing right now. Af

[2016-09-23 10:44] alexzaitsev commented on #3
Upd: please try to run v. 0.0.3: https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.0.3

[2016-09-23 10:45] alexzaitsev commented on #2
Upd: I've added error handling. Please try to run v. 0.0.3: https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.0.3
This is not a solution but a workaround.

[2016-09-23 10:59] cosic commented on #3
@alexzaitsev Yep, v. 0.0.3 works as well!

[2016-09-23 10:59] #3 closed, assigned to nobody

[2016-09-23 11:36] jasonwyatt commented on #2
I've tried the new version and I'm not seeing the stack trace anymore, now
it just asks me to check my filter.

[code]

/Users/jason/Library/apktool/framework/1.apk
    I: Regular manifest package...
    I: Decoding file-resources...
    I: Decoding values _/_ XMLs...
    I: Baksmaling classes.dex...
    I: Baksmaling classes2.dex...
    I: Copying assets and libs...
    I: Copying unknown files..

[2016-09-23 12:07] alexzaitsev commented on #2
Let me explain a bit how it works. Firstly it decompiles your apk to smali code using `apktool` jar. Then your smali code is analyzed by `apk-dependency-graph` jar. Please check your `android-debug/smali/` folder. Does the file structure corresponds to your code? If no - please make sure that you are not using Instant Run or some flavors that change your package during the build.

[2016-09-23 14:15] jasonwyatt commented on #2
Cool, thanks for asking me to check the `smali` folder. It was pretty much empty for some reason. I re-built my apk and tried again.. now it's working.

[2016-09-23 14:15] #2 closed, assigned to nobody

[2016-09-26 04:55] rockerhieu opened #4 "NullPointerException when decoding values */* XMLs ..."
[code]

[2016-09-26 06:59] alexzaitsev commented on #4
Hello @rockerhieu and thank you
This bug belongs to the `apktool` library. Please submit it here: https://github.com/iBotPeaches/Apktool and close this issue.
Thank you very much.

[2016-09-26 09:41] reisub commented on #1
This is the only thing stopping this tool from being useful for me.
I've looked at the generated classes in my projects and figured out how to filter them:
1. Dagger 2 (not sure about Dagger 1) generated classes are annotated with `@Generated`
2. ButterKnife generated classes end in `_ViewBinding`

The main problem is Dagger since it binds together a bunch of classes and then it looks like a big f

[2016-09-26 15:14] adjorno opened #5 "Does not work for apk with enabled "Instant Run" feature"

[2016-09-27 07:31] alexzaitsev commented on #5
Hello @adjorno
`apktool` cannot decompile such builds. It's noted in the `readme`. So I'm closing this as not a valid bug.
Moreover I think that a build with enabled `instant run` feature will contain a lot of 'rubbish' classes and need to be carefully filtered.

[2016-09-27 07:31] #5 closed, assigned to nobody

[2016-09-27 07:38] adjorno commented on #5
In that case it would be useful to provide more informative message instead
of "check your filters!"

On Sep 27, 2016 10:31, "Alexander Zaitsev" notifications@github.com wrote:

[2016-09-27 07:41] alexzaitsev commented on #5
I'll try to handle this. Thank you for submitting the issue.

[2016-09-27 08:40] adjorno opened #6 "Add Zoom-in (out) functionality"
It is impossible to use this tool for large projects because it creates unreadable graph: nodes are big, edges are small, adding class names just makes a mess. It would be great to have vector zooming to isolate some part of the graph which user is working with.

[2016-09-27 08:44] adjorno opened #7 "Add "exclude" filter"
Most of projects have utilities classes that don't need to be presented as dependencies. It would be great to have a possibility to exclude those classes from dependency graph.

[2016-09-27 08:52] adjorno opened #8 "Add DOT support"
This tool should be (and could be!) useful for developers so it's great to support engineer graph visualizer like Graphviz instead of fancy animated bubbles. At least "Export as DOT" would be great.

[2016-09-27 10:36] #4 closed, assigned to nobody

[2016-09-27 10:41] alexzaitsev commented on #5
Fixed in 0.0.4

[2016-09-28 11:36] alexzaitsev commented on #7
It's implemented in 0.0.5 with `Live editor` feature. How-to: https://github.com/alexzaitsev/apk-dependency-graph/wiki

[2016-09-28 11:36] #7 closed, assigned to nobody

[2016-09-28 11:37] alexzaitsev commented on #1
It's implemented in 0.0.5 with `Live editor` feature. How-to: https://github.com/alexzaitsev/apk-dependency-graph/wiki

[2016-09-28 11:37] #1 closed, assigned to nobody

[2016-09-28 12:37] jp1017 opened #9 "No Permission?"
:question:

![2016-09-28 20-36-01](https://cloud.githubusercontent.com/assets/7868514/18913632/5065be62-85bb-11e6-8f43-b06c4265d224.png)

[2016-09-28 12:41] jp1017 commented on #9
This error shows on Ubuntu 16.04, and it's wonderful on Win10.

[2016-09-28 18:18] alexzaitsev commented on #9
Please try `sudo chmod 777 ./run.sh`

[2016-09-29 15:15] andreas- opened #10 "Exception in thread "main" java.lang.NullPointerException"
Trying out several release apk i get this error

`at brut.androlib.res.data.value.ResStyleValue.serializeToResValuesXml(ResStyleValue.java:58)
    at brut.androlib.res.AndrolibResources.generateValuesFile(AndrolibResources.java:516)
    at brut.androlib.res.AndrolibResources.decode(AndrolibResources.java:267)
    at brut.androlib.Androlib.decodeResourcesFull(Androlib.java:131)
    at brut.androlib

[2016-09-30 08:23] alexzaitsev commented on #10
Please submit this crash to `apktool` repository: https://github.com/iBotPeaches/Apktool

[2016-09-30 08:23] #10 closed, assigned to nobody

[2016-09-30 16:33] bu2zhouzhu opened #11 "./run.sh: bad interpreter: /bin/bash^M: no such file or directory"
My solution: Using sublime text open run.sh. View > Line Endings > Unix and save the file.

[reference](http://stackoverflow.com/questions/14219092/bash-my-script-bin-bashm-bad-interpreter-no-such-file-or-directory#answer-23202386)

[2016-10-02 01:39] josinaldobarbosa commented on #11
It worked, but why is that?

[2016-10-05 14:10] lucas34 opened #12 "Doesn't work with multidex"
Hi,

When the multidex is enable on big app, the tool with generate multiple smali files but the analyser will only read one folder.

Lucas

[2016-10-05 15:47] adjorno commented on #7
Useless implementation

[2016-10-05 16:10] alexzaitsev commented on #7
@adjorno could you explain your opinion?

[2016-10-12 13:04] dGorod opened #13 "Error: Unable to access jarfile"
Hello!
I downloaded last release. Trying to run bat (OS is Windows 10).
And have next error:

Maybe because my Android SDK installed not by default path?

[2016-10-19 09:35] alexzaitsev commented on #13
Hello, @dGorod, have you resolved this issue? If no - please show detailed logs from your command line / terminal.

[2016-10-19 09:43] alexzaitsev commented on #11
That's because line endings were set to CRLF (Windows). I changed it to LF. It's already pushed and will be in the next release.

[2016-10-19 09:43] #9 closed, assigned to nobody

[2016-10-19 09:46] alexzaitsev commented on #11
@bu2zhouzhu @josinaldobarbosa could you test current `run.sh` version? is it working?

[2016-10-19 10:41] dGorod commented on #13
This is all logs that I got. And no, I did not investigate further. As the way to my APK file I used absolute path, like:

[2016-10-19 11:05] alexzaitsev commented on #13
correct
it's pointed in the readme that you should use absolute paths, for instance
`run.bat full\path\to\the\apk\app-release.apk com.example.test`

[2016-10-19 11:05] #13 closed, assigned to nobody

[2016-10-22 18:46] josinaldobarbosa commented on #11
worked, thank you.

[2016-10-23 01:36] #11 closed, assigned to nobody

[2017-01-09 23:55] wrightpt opened #14 "What framework do I need in order to decompile SystemWebView.apk"
I built from fresh chromium install:

I need a framework but I am not sure which one.

I used to the following apk from the Samsung S5:  framework-res.apk

with the following command:

I get the following output:

c@c:/usr/local/bin$ sudo apktool d SystemWebView.apk
I: Using Apktool 2.2.1 on SystemWebView.apk
I: Loading resource table...
I: Decoding AndroidManifest.xml with resources...
I: Loading

[2017-01-09 23:58] #14 closed, assigned to nobody

[2017-01-18 08:38] gwen14123 commented on #10
It's because you have a wrong framework-res.apk file :
me i have download framework-res.apk on this website : https://basketbuild.com/filedl/devs?dev=aniruddhc&dl=aniruddhc/framework-res.apk
Now I haven't issue.

[2017-01-18 09:31] gwen14123 commented on #10
No the framework-res that you have given are bad too :
Try framework-res and SystemUI of this website inside of this archeve 👍
http://www.mediafire.com/file/a3gi2gjeyyio3qp/lollipop_systemUI_frame-res.zip

[2017-02-20 18:06] mateusgrb commented on #11
Facing this issue on a mac with the latest version(0.0.5). My solution was to open run.sh on vim and delete all ˆM occurrences.

[2017-03-12 16:13] alexzaitsev commented on #12
Is going to be fixed here https://github.com/alexzaitsev/apk-dependency-graph/pull/15

[2017-03-31 10:47] alexzaitsev commented on #12
https://github.com/alexzaitsev/apk-dependency-graph/pull/15 is merged however i need to generate new jar and update it in the repository. You may build it from the source code by yourself if you do not want to wait :)

[2017-04-06 15:51] zegnus opened #17 "New release"
Hi there, last release was from last year's 28 Sep 2016. Now that we have multidex support can you please generate a new release?

Thank you very much for this tool

[2017-04-10 08:36] alexzaitsev commented on #12
[new 0.1.0 release](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.1.0)

[2017-04-10 08:36] #12 closed, assigned to nobody

[2017-04-10 08:37] alexzaitsev commented on #17
[new 0.1.0 release](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.1.0)

Thanks for your patience.

[2017-04-10 08:37] #17 closed, assigned to nobody

[2017-04-10 09:23] alexzaitsev opened #18 "versioning feature"
**Contributors wanted**
All of these changes touches mostly [`gui`](https://github.com/alexzaitsev/apk-dependency-graph/tree/master/gui) module. To get better understanding of project structure please visit our [wiki pages](https://github.com/alexzaitsev/apk-dependency-graph/wiki).

**Why we need it?**
What I want to archieve is to create each time new `analyzed.js` file. Let's imagine you're work

[2017-04-10 09:30] alexzaitsev commented on #6
@adjorno first of all you can filter your application by the package name. That will greatly reduce a number of nodes on your graph. Secondly, you can skip inner classes (please check our readme) (this was added in 0.1.0 version, the feature is experimental so please don't hesitate to create issues). Thirdly, you can use some [live filtering](https://github.com/alexzaitsev/apk-dependency-graph/wik

[2017-04-10 09:30] #6 closed, assigned to nobody

[2017-04-11 21:13] alexzaitsev opened #19 "extentions feature"
**Contributors wanted**
All of these changes touches mostly [src](https://github.com/alexzaitsev/apk-dependency-graph/tree/master/src/) module. To get better understanding of project structure please visit our [wiki pages](https://github.com/alexzaitsev/apk-dependency-graph/wiki).

**Why we need it?**
A lot of people are asking questions like "How can I filter Dagger dependecies?". I'm interested

[2017-04-22 02:49] pgetsos opened #21 "Keep getting "java.lang.IllegalArgumentException""
Hi, just tried it on 2 projects I have and I keep having the following error:

    Exception in thread "main" java.lang.IllegalArgumentException: character to be escaped is missing
        at java.util.regex.Matcher.appendReplacement(Unknown Source)
        at java.util.regex.Matcher.replaceAll(Unknown Source)
        at java.lang.String.replaceAll(Unknown Source)
        at code.SmaliAnalyzer.run

[2017-04-24 15:27] ProgFelipe commented on #21
Having same issue:
`Exception in thread "main" java.lang.IllegalArgumentException: character to be escaped is missing
        at java.util.regex.Matcher.appendReplacement(Matcher.java:809)
        at java.util.regex.Matcher.replaceAll(Matcher.java:955)
        at java.lang.String.replaceAll(String.java:2223)
        at code.SmaliAnalyzer.run(Unknown Source)
        at code.Main.main(Unknown Source

[2017-04-25 11:24] unidaysgraham opened #22 "JS files has no depencies"
The process seems to run correctly however the JS file has no dependencies. This tools looks awesome but could do with some support/ideas.

[code]

The console produces:
[code]

[2017-04-25 11:44] alexzaitsev commented on #22
@unidaysgraham hello, could you provide a call instructions for 'run' file? i mean e.g.
[code]
and the package of your app?
also please tell me do you use instant run?

[2017-04-25 12:44] unidaysgraham commented on #22
Sure, instant run is disabled and I run it against a debug build of the APK. I run the command like you have posted. I tried with true/false and with and without the filter.

[2017-04-25 15:28] alexzaitsev commented on #22
If you want, you can send me archive with `apk-dependency-graph` folder, including your disassembled apk to alex.zaitsev.pro@gmail.com and i'll try to investigate it. If this is not possible - I think it's almost impossible to understand why the tool behaves like that. Hope this makes sense for you.

[2017-04-26 18:38] turing-tech commented on #21
Same issue

[2017-04-28 05:39] adisiji commented on #21
me too

[2017-05-03 08:41] #22 closed, assigned to nobody

[2017-05-10 11:51] codingWang commented on #21
me too

[2017-05-11 08:30] alexzaitsev opened #23 "Does anybody use Live Editor feature?"
I'd like to know does anybody use it. I'm thinking about removing it and adding functionality of [extentions feature](https://github.com/alexzaitsev/apk-dependency-graph/issues/19) instead of it.
Any feedback is appreciated.

[2017-05-11 11:38] alexzaitsev commented on #21
should be fixed in https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.1.1

[2017-05-11 11:38] #21 closed, assigned to nobody

[2017-05-11 13:42] ProgFelipe commented on #21
Thanks worked for me!!

[2017-05-11 13:43] pgetsos commented on #21
Works, thanks!

[2017-05-28 01:03] ryanzor opened #24 "Graph appears entirely blank"
Hi, this tool looks neat, but I'm having some trouble with it.

I've gotten everything where it says it runs successfully, but the end result is an index.html page that has no dependency graph.  I've tried nofilter/filter by apk name and two separate apks.  The result always comes out the same.

Screenshot attached for clarity.

<img width="1429" alt="screen shot 2017-05-27 at 6 00 33 pm" src="htt

[2017-05-28 05:35] alexzaitsev commented on #24
Hello @ryanzor, did you use apks with instant run enabled?
Also, please, check your gui/analyzed.js, is it empty?

[2017-06-09 07:35] alexzaitsev commented on #24
Closing as inactive.

[2017-06-09 07:35] #24 closed, assigned to nobody

[2017-06-13 18:38] shumin0809 opened #25 "Unable to access jarfile apk-dependency-graph.jar"
Hi,

I tried to run your script but I got this error.
I don't find any apk-dependency-graph.jar in my folder. Can you please take a look on this issue?

Thanks,

[2017-06-13 19:52] alexzaitsev commented on #25
Hello, @shumin0809
Could you describe your steps in detail, provide screenshots etc?
I't impossible to help without information.
Thanks.

[2017-06-13 20:09] shumin0809 commented on #25
![screen shot 2017-06-13 at 1 08 09 pm](https://user-images.githubusercontent.com/5727209/27102270-742ccbda-5039-11e7-80a2-78ac91aa6650.png)
I've just followed your instructions. Clone the project and run the script on Mac terminal.

[2017-06-14 05:56] alexzaitsev commented on #25
I see. Please, download [the latest release](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.1.2) and try it. It should work.
The reason is that generated files were removed from the source. I fixed readme as well to avoid further confusion about the subject.
Thanks.

[2017-06-29 06:44] Namiii commented on #24
Hello, I'm here because I'm facing the same issue, even built after disabling instant run and still nothing. Any idea on why this would happen?

[2017-07-19 20:47] #25 closed, assigned to nobody

[2017-10-13 10:01] venvear opened #26 "Empty list of dependencies"
Hello.
I'm trying to build a graph for my app, but I get an empty dependency array.

var dependencies = {links:[
]};

P.S. I'm use apktool 2.3.0.

[2017-10-16 05:26] matthew-carroll commented on #26
I'm having the same issue.  I've tried using release 0.1.2 and 0.1.1.  Both give me an error during execution but finish executing anyway.  When I open the index.html file there is no graph (but the controls are there).  The JS dependencies file is empty as @venvear mentioned.

I'm running the release shell script on OSX 10.12.6 (Sierra)

NPE:
...
I: Decoding file-resources...
I: Decoding values *

[2017-10-20 04:11] alexzaitsev commented on #26
Guys, as you see, there is an exception in 3rd-party library so I cannot fix it. I'll leave this issue opened for future investigations.

[2017-10-20 04:13] matthew-carroll commented on #26
So is this an issue with a known work around?  Or is your project no longer functional?

[2017-10-20 04:14] alexzaitsev commented on #26
I cannot assume that it's not functional based on reviews of only two people. Of course I'll recheck it by myself using apktool 2.3.0.

[2017-10-20 04:34] alexzaitsev commented on #26
I checked it and as expected it works ok. I've made a new [release](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.1.3) with apktool 2.3.0.
Again, you have this issue because `apktool` cannot decompile your certain apk because of some internal issue. You may try to fix the issue in `apktool` by yourself, rebuild, and include this new version instead of current one or try `apk-d

[2017-10-20 04:35] alexzaitsev commented on #26
Closed unintentionally, I'll leave it open for now.

[2017-10-27 13:56] alexzaitsev commented on #26
I guess it can be closed. Feel free to reopen.

[2017-10-27 13:56] #26 closed, assigned to nobody

[2017-11-05 12:42] kaygisiz commented on #19
Hi @alexzaitsev , i made a [plugin](https://plugins.jetbrains.com/plugin/10107-dependency-injection-graph) with inspired by your project. People who think about this issue can use this plugin and [contribute](https://github.com/kaygisiz/Dependency-Injection-Graph).

[2018-01-10 20:53] brandoFS commented on #25
@alexzaitsev I'm having the same issue now witht he latest version. Please Advise

![image](https://user-images.githubusercontent.com/5471824/34794951-45e54bb8-f605-11e7-8114-ed89577464aa.png)

[2018-01-29 11:11] matemink commented on #25
@brandoFS At first you should to compile build/jar/apk-dependency-graph.jar using ant, and then you get required build folder

[2018-05-15 18:12] Dkhusainov opened #28 "Lag"
Hello. Great tool, but performancy(in my case at leaast) is really bad.

I opened a generated graph of a Kotlin project(which means all the generated lamdas/inner classes) on my i7 and it was unusable.

Chrome version: 66.0.3359.170

Here's a short profile session from chrome

[lag.zip](https://github.com/alexzaitsev/apk-dependency-graph/files/2006177/lag.zip)

[2018-05-23 00:01] christopherperry commented on #23
I have not, although our team doesn't currently use this tool in our process. I'm trying to introduce this at least as part of our dashboard where we show bug counts.

[2018-11-19 22:59] victorrattis opened #29 "Update apktool to 2.3.4 for supporting Android P"
I cannot make a graph preview of an APK with SDK to Android P, only works after I updated the "apktool.jar" version for the latest version, which is 2.3.4.

[2018-11-26 23:10] #29 closed, assigned to nobody

[2018-12-26 23:34] victorrattis opened #31 "[FEATURE] Create APK dependency graph app"
Transform the current tool project to be a desktop application, for making it easier to use. With support for Unix and windows platforms.

[2018-12-26 23:34] victorrattis commented on #31
Currently, I have worked in a solution for making it into an application to run in Unix and Windows platforms. In following video link, you can see a video presenting this POC on Linux:
[apk dependency graph app video](https://drive.google.com/file/d/1MsCgQDKS4i85dlcYnfNj66TKfAERh43Q/view?usp=sharing)

@alexzaitsev, I don't know what your objectives for this project if you have plans to make it in

[2018-12-27 14:02] alexzaitsev commented on #31
@victorrattis I'm very glad seeing that the project is evolving. I'm concentrated on another projects and therefore have no possibility to spend my time here.
Feel free to create any desktop app you need on the top of this :)

[2018-12-27 22:32] victorrattis commented on #31
Thank you, I am going to work in my fork and after completing it I can do a pull request in your project to transform it into an app. =)

[2019-01-03 20:19] victorrattis opened #32 "[IMPROVEMENT] Remove apktool dependency and use baksmali to decode an APK file."
Currently, **apktool** lib is used to decode an APK file into smali code, and its jar is added directly in the project and for each update in the jar is done the repository size increases (today, the repository size is **~23MB**).

Also, **apktool** does more than decode an **APK** in  smali code:

and only using the **baksmali** is better because it just decodes the **classes.dex** to smali code.

[2019-01-12 20:44] victorrattis commented on #32
I am closing this issue as complete because the pull request for that was integrated successfully!

[2019-01-12 20:44] #32 closed, assigned to nobody

[2019-03-29 19:06] zoltanf opened #35 "Can't get it to work, tried with multiple APKs"
Tried with serveral different APKs. It builds and runs fine, but the analyzed.js is always:
[code]

I tried the current master as well as the dev branch, same results.
Tried with 2 different application APKs.

[2019-03-30 20:30] victorrattis commented on #35
@zoltanf, Could you please send the command which you have used?

**Obs.:** check if the APK package name is the same that you are using in this command.

[2019-03-30 23:24] victorrattis opened #36 "Open the file explorer dialog when clicking on the draggable area."
Open the file explorer dialog when clicking on the draggable area, thus, the user can select one file to be analyzed.

[2019-03-30 23:49] victorrattis opened #38 "[UI] Remember the previous values inserted by the user"
Remember the previous values inserted by the user for the fields: "APK file path", "filter" and "show inner classes".

[2019-04-03 00:20] victorrattis commented on #36
I am closing this issue as complete because the fix has been integrated into the branch dev successfully!

[2019-04-03 00:20] #36 closed, assigned to nobody

[2019-04-03 18:53] victorrattis commented on #38
I am closing this issue as completed because this fix has been integrated into the dev branch successfully!

[2019-04-03 18:53] #38 closed, assigned to victorrattis

[2019-04-10 12:22] victorrattis opened #40 "Create scripts to publish the app for Windows, Linux and Mac"
Create scripts to publish the app for Windows, Linux, and Mac.

The Objective of this issue is:
- Create a script to build the **apk-dependency-graph** jar and move it to "*gui/lib*" directory;
- Create scripts to package the electron app for Windows, Linux, and Mac platforms;
- Create scripts to creates the installers for Windows, Linux, and Max;
- Update the README.txt file with new information.

[2019-04-15 14:28] zoltanf commented on #35
Yes I double checked everything at the time. However the output in the js was alway empty. In the mean time I used the android studio plugin and it works fine. At the moment I can't provide you with more info.

[2019-04-15 14:28] #35 closed, assigned to nobody

[2019-04-23 17:55] alexzaitsev commented on #40
Love it!

[2019-04-24 10:21] davigonz opened #41 "Build folder is not included in release archives"
Hi @alexzaitsev @victorrattis , I can not find the build folder that includes `apk-dependency-graph.jar` in release archives and according to your wiki, it should be there.

I've downloaded `apk-dependency-graph-scripts-0.1.5.zip` from https://github.com/alexzaitsev/apk-dependency-graph/releases and I'm not able to make it work since the build folder is missing.

Thanks in advance

[2019-04-24 15:03] davigonz commented on #41
I've just made it work by executing `release.sh` script, maybe including that in Readme would be helpful, closing this...

[2019-04-24 15:03] #41 closed, assigned to nobody

[2019-06-09 17:06] SupinePandora43 opened #42 "where precompiled jar?"

[2019-06-14 06:26] alexzaitsev commented on #42
Fixed. Added jar to the latest release

[2019-06-14 06:26] #42 closed, assigned to nobody

[2019-06-14 06:28] alexzaitsev commented on #40
Hey @victorrattis, how it's going? Would you have some spare time to finish it?

[2019-06-19 00:31] victorrattis commented on #40
@alexzaitsev
Let's go continue with work =)

The objective of this task is to create scripts to build and package the application for platforms Win, Mac, and Linux. I saw that this project is using Gradle to automate tasks (this is good). Would you like to use the Gradle tool to automate all tasks in this project?

If so, first we could remove the *ant* and use Gradle to build the jar then create

[2019-06-19 03:02] victorrattis commented on #40
I am implementing this solution of using Gradle to build the jar and app to release it. You can see it (a draft) [here](https://github.com/victorrattis/apk-dependency-graph/commit/4f3e071c66ee3e1105e106a86e92419e723441c8)

[2019-06-20 19:31] alexzaitsev commented on #40
yes, that's fine for me. Thank you @victorrattis !

[2019-06-25 08:33] Kostyshina opened #44 "Exception in thread "main" java.lang.UnsupportedClassVersionError"
Hi, thank you for your lib. I wanted to check my project with it but ./run.sh give that crash
[code]
I have compile oprions in build.gradle
[code]
The same is occurring for other project also. I have tried to change JDK location in my Android Studio to not embeded one but with new build I get the same error
[code]
I have also tried plugin for Android Studio, but after first graph generation (it wa

[2019-06-25 23:41] victorrattis commented on #44
**Root Cause Analysis:** This issue happened because the java version used to compile `code/Main` (inside **apk-dependency-graph.jar**) class is greater than your java version, which is **1.8.0** or **52**.

The version 0.1.3 and 0.1.4 were compiled on **"52 - Java SE 8"** and 0.1.5 was compiled on **"53 - Java SE 9"**. Because of that, your tests worked well using 0.1.3 and 0.1.4.

@Kostyshina
Fo

[2019-06-28 13:53] alexzaitsev commented on #44
@victorrattis thanks for such deep and precise analysis.
I'm not sure what to do. What do you think, is it possible that someone could run it against java 7 and get this crash again?
Anyway, seems that we should point a java version for each release in the release notes..
Doesn't seem convenient and simple...
But as a temporary solution perhaps it's better just to recompile with java 8.

@victorra

[2019-07-04 12:29] alexzaitsev commented on #44
@Kostyshina I have fixed the apk in 0.1.5 release. Could you check, please?

[2019-07-07 07:24] SupinePandora43 opened #46 "Can't analyze with nofilter"
if i run without filter (`nofilter`)
i'll get `Check your filter` after decompiling dex file

[2019-07-07 10:59] alexzaitsev commented on #46
Yes that's correct behavior. For now lets leave is as it is because @victorrattis works on the https://github.com/alexzaitsev/apk-dependency-graph/issues/40 and the app will be desktop soon.

P.S. There is an example of using `nofilter` [here](https://github.com/alexzaitsev/apk-dependency-graph#usage).

[2019-07-08 07:45] #44 closed, assigned to nobody

[2019-07-08 07:47] alexzaitsev commented on #23
Seems that this feature is unused.

[2019-07-08 07:47] #23 closed, assigned to nobody

[2019-07-08 07:50] alexzaitsev commented on #19
Thinking about it. WIP

[2019-07-09 08:19] alexzaitsev opened #48 "Filtering feature"
* That should be a `json` file with the following structure: `["regexp1", "regexp2"]` and so on.
* That files should be stored in `/filters/` folder.
* Create `/filters/default.json` file that should be shipped with the `jar`.
* User can change filters and add new files.
* Filtering takes place at the `java` code.
* `Run` scripts to be changed.
* Edit _travis-ci_ script to ship filters in the rele

[2019-07-09 08:37] alexzaitsev commented on #19
Closed in favor of #48

[2019-07-09 08:37] #19 closed, assigned to alexzaitsev

[2019-07-09 10:38] alexzaitsev opened #49 "Index.html re-factoring"
1. Make "Show names" **enabled** by default.
2. Remove `Live Editor` feature.
3. Clean the code.

[2019-07-10 09:23] alexzaitsev opened #50 "Add tests for java code"

[2019-07-11 07:34] alexzaitsev opened #51 "Java code re-factoring"
1. Rename package name from `code` to `com.alex_zaitsev.adg`

[2019-07-11 07:35] alexzaitsev opened #52 "Remove ant and leave gradle only"

[2019-07-16 23:55] alexzaitsev commented on #46
Fixed in scope of #48

[2019-07-16 23:55] #46 closed, assigned to nobody

[2019-07-16 23:56] alexzaitsev commented on #51
done

[2019-07-16 23:56] #51 closed, assigned to alexzaitsev

[2019-07-16 23:56] alexzaitsev commented on #50
done

[2019-07-16 23:56] #50 closed, assigned to nobody

[2019-07-16 23:56] alexzaitsev commented on #48
done

[2019-07-16 23:56] #48 closed, assigned to alexzaitsev

[2019-07-17 06:58] alexzaitsev commented on #28
The situation should be improved when #49 is implemented. Also, please consider using filters (introduced in [0.2.0](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.2.0)).

[2019-07-21 14:28] SupinePandora43 commented on #28
lag)
![LAG](https://pp.userapi.com/c855220/v855220076/9bd10/3gdx42xbu0A.jpg)
YOU MUST USE FILTER!!!!!!
// [Project](https://github.com/SupinePandora43/Russian)

[2019-07-21 18:13] alexzaitsev commented on #28
@SupinePandora43 I think I have to make filters & package-name option mandatory

[2019-07-21 19:27] alexzaitsev commented on #28
@SupinePandora43 done at [0.2.1](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.2.1)

[2019-07-25 22:00] alexzaitsev commented on #49
Done in [0.3.0](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.3.0)

[2019-07-25 22:00] #49 closed, assigned to alexzaitsev

[2019-07-25 22:01] alexzaitsev commented on #28
Html and js code re-factoring and cleanup is done in [0.3.0](https://github.com/alexzaitsev/apk-dependency-graph/releases/tag/0.3.0)

[2019-07-25 22:01] #28 closed, assigned to nobody

[2019-07-27 08:02] alexzaitsev opened #59 "Migrate from Ant to Gradle"

[2019-07-27 16:11] SupinePandora43 commented on #59
:tada:

[2019-09-05 03:01] girish3 opened #60 "Index.html page is empty"
I got the following terminal output after running the command,

[code]

But after opening the index.html file, I can see the setting view on top right but the page is empty.

[2019-09-05 06:48] alexzaitsev commented on #60
Hello @girish3
Have you modified `filters/default.json`? If yes - could you provide it?
How do you run the script?

[2019-09-13 09:39] kuzdu commented on #60
I do not think that this an issue. But I ran into the same trap. The package name must not be equal the bundle identifier. I do not know why, but I entered my bundle identifier to the `filters/default.json` and yeah... then the index.html is empty. Fail to me and my reading skills .. 🤷🏻‍♂️

[2019-10-20 14:11] Heavylama commented on #60
There is a bug when running on Windows that could explain such behaviour.

A path filter is generated using system path delimiter. This filter is then used both for filtering folders in smali output directory (good) and for parsing found class paths when processing individual smali files (bad).

In the decompiled smali code "/" package delimiter is used  thus on a Windows machine filtering out eve

[2019-11-18 22:09] petemyron commented on #59
`gradle build` worked great for me. This can probably be closed.

[2019-11-19 05:22] alexzaitsev commented on #59
@petemyron it works but `gradle` uses `ant` script. The goal is to rewrite it for gradle.

[2019-11-26 06:27] alexzaitsev commented on #59
Done

[2019-11-26 06:27] #59 closed, assigned to nobody

[2019-11-26 06:28] alexzaitsev commented on #31
Closing as obsolete.

[2019-11-26 06:28] #31 closed, assigned to nobody

[2019-11-26 06:28] alexzaitsev commented on #40
Closing as obsolete.

[2019-11-26 06:28] #40 closed, assigned to victorrattis

[2019-11-26 06:28] alexzaitsev commented on #8
Closing as obsolete.

[2019-11-26 06:28] #8 closed, assigned to nobody

[2019-11-26 06:28] alexzaitsev commented on #18
Closing as obsolete.

[2019-11-26 06:28] #18 closed, assigned to nobody

[2019-12-04 17:18] ArmanIzad commented on #60
Having the same issue. The output generated seems to be OK, just that the dependencies is empty.

Where should I modify this? Any clue?

[2019-12-13 15:21] kustraslawomir commented on #60
I run into same issue.

filters.json where "a.b.c" is my applicationId and package:
`{
    "package-name": "a.b.c",
    "show-inner-classes": false,
    "ignored-classes": [".*Dagger.*", ".*Inject.*", ".*ViewBinding$", ".*Factory$", ".*_.*", "^R$", "^R\\$.*"]
}`

command:
`run.bat C:\graph\application.apk C:\graph\filters.json`

result:
`Baksmaling classes.dex...
Analyzing dependencies...
Success!

[2019-12-13 15:39] kustraslawomir commented on #60
Following @Heavylama comment I fixed it but changing your code from:

Main.java:
[code]

to:
[code]

where makeSmaliPathFilter() is:

[code]

Now after recompile I received correct dependencies graph.

@alexzaitsev  Windows. tl;dr i replaced \\. with / for smali path filter.

[2020-02-04 04:51] Hasan-Uddin opened #62 "A JNI error has occurred, please check your installation and try again"
![Screenshot - 2_4_2020 , 10_49_10 AM](https://user-images.githubusercontent.com/60354359/73714855-52bdc600-473c-11ea-9cc1-4591a6693b4b.png)

[2020-02-04 04:52] Hasan-Uddin commented on #62
![Screenshot - 2_4_2020 , 10_47_50 AM](https://user-images.githubusercontent.com/60354359/73714902-754fdf00-473c-11ea-8ce8-062bdc9b4454.png)

[2020-02-04 05:43] SupinePandora43 commented on #62
send output of `java -version`

[2020-02-04 10:03] Hasan-Uddin commented on #62
![Screenshot - 2_4_2020 , 4_02_21 PM](https://user-images.githubusercontent.com/60354359/73734424-d4771900-4767-11ea-8789-59bdbf48a0f3.png)

[2020-02-04 15:19] SupinePandora43 commented on #62
this caused because class compiled for JRE 9 (53) , but you trying to run on JRE 8 (52)

[2020-02-05 05:01] Hasan-Uddin commented on #62
tried with previous  version and it worked .. But i got unexpected result. i thought this tool can show dependency list( dependencies { } ) used in apk . but it shows 3 balls names classes. :(

[2020-04-07 16:25] ar-g opened #63 "Is it possible to see dependencies by package?"
We wanted to use the dependency graph to easier untangle and understand dependencies in order to break down our monolithic project to separate feature modules. Out project contains more than 200 screens and the visualization is unusable and slow.
Perhaps it would be more helpful to see dependencies by the package, is it possible?

[2020-04-23 18:08] trod-123 opened #64 "Graph generation broken in 0.2.0+"
Firstly, thanks for your hard work developing this tool. It is a great resource for laying the groundwork of our refactoring project.

I've noticed that the graphs generated in the latest version 0.3.1 don't provide any useful information. I've noted a couple issues:

1) Graphs do not show any class dependencies, but rather showcase function dependencies for each class (see representative sample b

[2020-04-23 23:17] trod-123 commented on #64
It looks like the fix outlined here solves this problem. I am running this on Windows: https://github.com/alexzaitsev/apk-dependency-graph/issues/60#issuecomment-565487508

[2020-04-23 23:17] #64 closed, assigned to nobody

[2020-04-29 05:12] wanglijian1993 opened #65 "package is not found"
![image](https://user-images.githubusercontent.com/13101984/80562705-120fd900-8a1b-11ea-8eaf-438ed0c803ca.png)

[2020-04-29 07:48] #65 closed, assigned to nobody

[2020-04-29 13:43] gitdefllo commented on #62
**You need to change the java version to a newest.**
[A little search on windows](https://www.happycoders.eu/java/how-to-switch-multiple-java-versions-windows/) should help you. Aside on linux, [you have some tutorials to do it](https://dev.to/thegroo/install-and-manage-multiple-java-versions-on-linux-using-alternatives-5e93): install the lastest version of `openjdk` and choose the correct jdk wit

[2020-06-12 08:12] alexzaitsev commented on #63
@ar-g yes, that is possible. Please, refer to [filtering instructions](https://github.com/alexzaitsev/apk-dependency-graph/blob/master/filters/instructions.txt).

[2020-06-12 08:12] #63 closed, assigned to nobody

[2020-06-12 10:50] SupinePandora43 commented on #63
@alexzaitsev wow, you finally here! :D

[2020-06-12 11:07] alexzaitsev commented on #63
@SupinePandora43 busy with other stuff :)

[2020-08-16 09:32] arenshaee commented on #13
it's because of the path of jar file. for my case, my path includes space, so open run.bat file with editor, and at line 27, where java execution commands are:
`java -jar %~dp0\build\libs\apk-dependency-graph.jar -i %outPath% -o %jsonPath% -a %1 -f %2`

and then add quotes around all paths like below:

`java -jar "%~dp0\build\libs\apk-dependency-graph.jar" -i "%outPath%" -o "%jsonPath%" -a %1 -f %

[2020-08-16 09:33] arenshaee commented on #25
@alexzaitsev  @shumin0809
check here:
https://github.com/alexzaitsev/apk-dependency-graph/issues/13#issuecomment-674503963

[2021-02-12 07:27] ts-stevem opened #67 "Workaround for various problems"
For others attempting to use this project

**_TL;DR_**
Just need to do a couple of steps to use this project
- Compile the project
- Add package to filters json file

Make gradlew executable and build/compile the git repo e.g.
[code]

Edit `filters/default.json` and add your package name (not optional!)
[code]
Then edit the file so it resembles:
[code]

Once that's done should be ready to run the

[2021-03-04 10:19] saerankk opened #68 "java.io.IOException: org.jf.util.ExceptionWithContext: Encountered small uint that is out of range at offset 0x38"
./run.sh app-debug.apk default.json
Baksmaling assets/A3AEECD8.dex...
java.io.IOException: org.jf.util.ExceptionWithContext: Encountered small uint that is out of range at offset 0x38
	at com.alex_zaitsev.adg.decode.ApkSmaliDecoder.decodeDexFile(ApkSmaliDecoder.java:65)
	at com.alex_zaitsev.adg.decode.ApkSmaliDecoder.decode(ApkSmaliDecoder.java:47)
	at com.alex_zaitsev.adg.decode.ApkSmaliDecoderCo

[2021-07-14 09:10] svarogSLASHc opened #69 "Empty report html"
`\apk-dependency-graph-scripts-0.3.1>run.bat demo-debug.apk default.json

The output directory was deleted!
Baksmaling classes17.dex...
Baksmaling classes26.dex...
Baksmaling classes78.dex...
Baksmaling classes35.dex...
Baksmaling classes40.dex...
Baksmaling classes92.dex...
Baksmaling classes22.dex...
Baksmaling classes69.dex...
Baksmaling classes53.dex...
Baksmaling classes39.dex...
Baksmaling c

[2021-12-08 19:09] sarimmehdi commented on #69
Same here, the output .html file shows nothing but a white screen

EDIT:
Okay, my bad. I was providing the wrong package name in default.json. For anyone else, make sure the package name is the same as in the manifest tag inside your AndroidManifest.xml

[2022-11-02 20:33] semenoh opened #70 "It deletes project instead of output directory"
There is a line in `Main.java` that states it deletes output dir but deletes project instead.
https://github.com/alexzaitsev/apk-dependency-graph/blob/bc7d4b47ec8e7580044bb53b5c24f6b79279c10c/src/main/java/com/alex_zaitsev/adg/Main.java#L35

[code]

i gues it should be

[code]
instead